<div class="container mt-5">
    <div class="jumbotron" style="background-color:rgba(229, 239, 243, 0.726);">
        <h1 class="display-4">Welcome To NITRIS Exam portal</h1>
    <p class="lead">An online exam builder which allows you to create your own tests and assess people's knowledge online.</p>
    <hr class="my-4">
    <div class="row">
        <div class="col">
            <h3>Come Join us, Register below</h3>
            <a class="btn btn-primary btn-lg" [routerLink]="['/signup']" routerLinkActive="router-link-active"  role="button">Register</a>
        
        </div>
        <div class="col">
            <h3>Existing user?</h3>
            <a class="btn btn-primary btn-lg" [routerLink]="['/login']" routerLinkActive="router-link-active"  role="button">Login</a>
    
        </div>
    </div>
        
</div>