<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <mat-card class="my-5" style="border-radius:8%;">
                <div class="row justify-content-center">
                    <div class="col-md-12 text-center">
                        <img src="../../assets/logo.png" alt="">
                        <h1 class="mt-4">Register</h1>
                        <form (ngSubmit)="onSubmit()" #signupForm="ngForm">
                            <mat-form-field  class="w-100" appearance="outline">
                                <mat-label class="">Username</mat-label>
                                <input  required name ="username" [(ngModel)]="user.username" class=""  matInput placeholder="eg: johndoe23"> 
                                <em *ngIf="signupForm.controls.username?.touched && signupForm.controls.username.invalid" ><small>required</small> </em>
                            </mat-form-field>
                            <mat-form-field  class="w-100 rounded" appearance="outline">
                                <mat-label class="">Password</mat-label>
                                <input  required name ="password" [(ngModel)]="user.password" type="password" matInput>
                                <em *ngIf="signupForm.controls.password?.touched && signupForm.controls.password.invalid" ><small>required</small> </em>
        
                            </mat-form-field>
                            <mat-form-field  class="w-100" appearance="outline">
                                <mat-label class="">First Name</mat-label>
                                <input  required name ="firstName" [(ngModel)]="user.firstName" class="" matInput placeholder="eg: John ">
                                <em *ngIf="signupForm.controls.firstName?.touched && signupForm.controls.firstName.invalid" ><small>required</small> </em>
                            </mat-form-field>
                            <mat-form-field  class="w-100" appearance="outline">
                                <mat-label class="">Last Name</mat-label>
                                <input  name ="lastName" [(ngModel)]="user.lastName"   class="" matInput placeholder="eg:Doe">
                            </mat-form-field>
                            <mat-form-field  class="w-100" appearance="outline">
                                <mat-label class="">Email</mat-label>
                                <input required  name ="email" [(ngModel)]="user.email"  type="email" email="true" matInput placeholder="eg:johndoe23@gmail.com">
                                <em *ngIf="signupForm.controls.email?.touched && signupForm.controls.email.invalid" ><small>invalid input</small> </em>
                            </mat-form-field>
                            <mat-form-field  class="w-100" appearance="outline">
                                <mat-label class="">Phone</mat-label>
                                <input required  name ="phone" [(ngModel)]="user.phone"  type="number" matInput placeholder="eg: 876654392">
                                <em *ngIf="signupForm.controls.phone?.touched && signupForm.controls.phone.invalid" ><small>required</small> </em>
        
                            </mat-form-field>
                            <div class="row">
                                <div class="col-sm-6">
                                    <button  [disabled]="signupForm.invalid" type= "submit" mat-raised-button color="primary">Register</button>
                                </div>
                                <div class="col-sm-6">
                                    <button  type="button" (click)="clearAll()" mat-raised-button color="warn">Clear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
    
</div>

